.o-login-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-logo {
  width: 50em;
  height: 10em;
  // background: url(green@3x.png) no-repeat center;
  // background-size: contain;
}

.m-login-form {
  width: 50%;
  text-align: center;
  height: 15em;

  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

input[type="password"] {
  color: #488988;
  width: 343px;
  height: 47px;
  margin: 2% 0;
  text-indent: 10px;
}

input[type="submit"] {
  color: white;
  background-color: #488988;
  border-radius: 24px;
  width: 311px;
  height: 48px;
  margin: 2% 0;
}

.error_explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}

.password_updated {
  text-align: center;
}